# Copy this file to .env and fill in your values.
# Get your Google Client ID: https://console.cloud.google.com/apis/credentials

REACT_APP_GOOGLE_CLIENT_ID=598306943770-d03li8cl4snpe5tsccu03f7jkktiuu4r.apps.googleusercontent.com
REACT_APP_API_URL=https://localhost:7176/api
